body {
    margin: 0;
}
/* Page Loader */
.js .loading::before,
.js .loading::after {
    content: "";
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-bg;
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: $color-text;

    animation: loaderAnim 0.7s linear infinite alternate forwards;
}
@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}
@keyframes runner {
    to {
        transform: translateX(-25%);
    }
}
a {
    text-decoration: none;
    color: $color-text;
    outline: none;
    &:focus-visible {
        outline: 2px solid #fff;
        background: transparent;
    }
    &:focus {
        outline: none;
        background: lightgrey;
        &:not(:focus-visible) {
            background: transparent;
        }
    }
}
.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    // cursor: pointer;
    &:focus {
        outline: none;
    }
}
.hover-line {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: inline-block;
    &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background: currentColor;
        top: 92%;
        transition: transform 0.3s;
        transform-origin: 0% 50%;
    }
    &:hover {
        &::before {
            transform: scaleX(0);
            transform-origin: 100% 50%;
        }
    }
}
main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vw;
}
.button {
    &-menu {
        width: 64px;
        height: 64px;
        border: 1px solid $color-button-menu;
        border-radius: 50%;
        place-items: center;
        display: inline-grid;
        transition: 0.3s;
        svg {
            transition: 0.2s;
            fill: #fff;
        }
        &:hover,
        &:focus-visible {
            fill: $color-button-menu-hover;
            border-color: $color-button-menu-hover;
            transition: 0.3s;
        }
        &:hover svg {
            transform: scale(1.2);
            fill: $color-button-menu-hover;
            transition: 0.2s;
        }
    }
    &-enter {
        margin-top: 4vh;
        transition: transform 0.5s ease;
        &:hover {
            transform: translateX(15px) rotate(-40deg);
        }
    }
    &-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 2rem;
        stroke: #fff;
        fill: none;
        &:focus-visible,
        &:hover {
            stroke: $color-button-close-hover;
        }
    }
}
.frame {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 100;
    height: 100vh;

    display: grid;
    align-content: space-between;
    align-items: center;

    padding: 1rem 1rem 0.5rem 1rem;
    pointer-events: none;
    font-size: 1rem;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "heading author author button"
        "... ... ... ..."
        "links links links links"
        "title title title title";
    a,
    button {
        pointer-events: auto;
    }
    &__button {
        grid-area: button;

        justify-self: end;
    }
    &__title {
        grid-area: title;

        font-size: inherit;
        font-weight: normal;
        margin: 0.5rem 0 0;
        justify-self: center;
    }
    &__links {
        grid-area: links;

        display: flex;
        justify-self: center;
        align-self: end;
        flex-wrap: wrap;
        a {
            margin: 0 0.5rem;
        }
    }
    &__author {
        grid-area: author;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        margin: 0;
        color: #fff;
    }
    &__heading {
        grid-area: heading;

        margin: 0;
        white-space: nowrap;
        justify-self: start;
        &-main {
            display: block;

            line-height: 0.8;
            font-size: 1.5rem;

            color: $color-heading-main;
        }
        &-sub {
            font-size: 0.75rem;
            line-height: 1;

            color: $color-heading-sub;
        }
    }
    &--menu-open {
        color: $color-alt;
        .frame {
            &__author,
            &__heading-sub {
                opacity: 0;
                pointer-events: none;
            }
        }
        .button-menu {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.content {
    grid-area: 1 / 1 / 2 /2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 100vh;
    &__title {
        font-size: 7.5vw;
        font-weight: 400;
        line-height: 0.75;

        margin: 10vh 0 0 0;

        text-align: center;

        &-main {
            opacity: 0;
            font-size: 23vw;
            display: block;
            will-change: opacity, transform;
        }
        &-sub {
            opacity: 0;
            display: block;
            will-change: opacity, transform;
        }
    }
}
.menu-wrap {
    grid-area: 1 / 1 / 2 /2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;

    position: relative;
    background-color: $color-text;
    overflow: hidden;

    pointer-events: none;
    opacity: 0;
    &--open {
        pointer-events: auto;
        opacity: 1;
    }
    .tiles {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -60%, 0) rotate(22.5deg);
        height: 150vh;
        opacity: 0.5;
        &__line {
            display: flex;
            transform: translateX(25%);
            animation: runner 10s linear infinite;
            &-img {
                --title-margin: 3vw;
                flex: none;
                width: 30vh;
                height: 30vh;
                margin: var(--title-margin);
                background-size: cover;
                background-position: 50% 50%;
                border-radius: 50%;
                &--large {
                    width: 100vh;
                    border-radius: 100vmax;
                }
            }
            &:nth-child(2) {
                animation-duration: 16s;
            }
            &:nth-child(3) {
                animation-duration: 22s;
            }
        }
    }
    .menu {
        grid-area: 1 / 1 / 2 / 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
        height: 100%;
        &__item {
            font-size: 9vw;
            line-height: 1;
            font-weight: 300;
            text-align: right;

            position: relative;
            color: #fff;
            will-change: opacity, transform;
            &-tiny {
                font-size: 1.5rem;
            }
            &-text {
                color: $color-menu;
            }
            &:nth-child(odd) {
                margin-left: -10vw;
            }
            &:hover {
                .menu__item {
                    &-text {
                        color: $color-menu-hover;
                    }
                    &-tiny {
                        color: #fff;
                    }
                }
            }
        }
    }
}
.overlay {
    grid-area: 1 / 1 / 2 /2;
    position: relative;
    z-index: 1000;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 53em) {
    .frame {
        grid-template-columns: 390px 1fr 390px;
        grid-template-areas:
            "heading author button"
            "... ... ..."
            "title links links";
        font-size: 1.5rem;
        &__title {
            justify-self: start;
            align-self: end;
            margin: 0 3rem 0 0;
        }
        &__links {
            display: flex;
            justify-self: start;
            padding: 0;
            a:not(:last-child) {
                margin-right: 0.5rem;
            }
            &__heading {
                &-main {
                    font-size: 2.15rem;
                }
                &-sub {
                    font-size: 1rem;
                }
            }
        }
    }
    .menu__item-tiny {
        font-size: 2rem;
    }
}
