.hero {
    @include size(100%, 100vh);
    position: relative;
    z-index: 10;
    &__overlay {
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.4);
        z-index: 3;
    }
    .container {
        height: 100%;
    }
    &__content {
        width: 100%;
        @include mid;
        z-index: 10;
        text-align: center;
        color: $white100-cl;
        padding: 0 var(--gap);
        &-heading {
            font-size: 4rem;
            font-family: gl;
            .heading {
                margin: 20px 0 50px 0;
            }
        }
        &-des {
            max-width: 970px;
            margin: auto;
            font-size: var(--body18-fs);
            line-height: var(--body18-lh);
        }
        &-subtitle {
            font-family: g;
            font-size: var(--h4-fs);
            line-height: var(--h4-lh);
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        @include mid;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    &__video {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
        video,
        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__bg {
        @include size(100%);
        @include mid;
        img {
            @include size(100%, 100%);
            object-fit: cover;
        }
    }
    &__scroll {
        width: 150px;
        text-align: right;
        text-transform: uppercase;
        font-family: gb;
        font-size: var(--body14-fs);
        line-height: var(--body14-lh);
        color: $main-cl;
        position: absolute;
        bottom: 20px;
        left: -39px;
        @include transform(rotate(-90deg));
        @include keyframes(scrollmove) {
            0% {
                @include transform(scaleX(0));
                @include transform-origin(right);
            }
            50% {
                @include transform(scaleX(1));
                @include transform-origin(center);
            }
            100% {
                @include transform(scaleX(0));
                @include transform-origin(right);
            }
        }
        &:after {
            content: "";
            width: 100%;
            height: 1px;
            background: $main-cl;
            display: block;
            @include transition(transform);
            @include animation(scrollmove 2.6s infinite forwards);
        }
    }

    @include lg {
        &__content {
            &-heading {
                font-size: 3.8rem;
                .heading {
                    margin: 15px 0 40px 0;
                }
            }
        }
    }
    @include md {
        @include size(100%, 680px);
    }
    @include sm {
        @include size(100%, 580px);
        &__content {
            &-heading {
                .heading {
                    margin: 5px 0 20px 0;
                }
            }
        }
    }
    @include xs {
        @include size(100%, 100vh);
        &__content {
            &-heading {
                font-size: 2.4rem;
                .heading {
                    margin: 5px 0 20px 0;
                }
            }
        }
        &__scroll {
            width: 120px;
            bottom: 10px;
            left: -34px;
        }
    }
}
.achievements {
    .textbox {
        margin-bottom: 40px;
        .heading {
            &.--h5 {
                font-size: var(--body16-fs);
            }
        }
    }
    &__list {
        max-width: 720px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: auto;
        a {
            img {
                max-width: 190px;
                height: 72px;
                object-fit: contain;
            }
        }
    }
    @include xs {
        &__list {
            a {
                img {
                    max-width: 120px;
                    height: 50px;
                }
            }
        }
    }
}

.services {
    --col: 5;
    --gapItem: 140px;
    --wIcon: 200px;
    --mtHeading: 25px;
    &__list {
        display: grid;
        grid-template-columns: repeat(var(--col), 1fr);
        column-gap: var(--gapItem);
        margin-top: 80px;
        &-wrap {
            position: relative;
        }
        &-item {
            text-align: center;
            .icon {
                width: var(--wIcon);
                margin: auto;
            }
            .heading {
                display: inline-flex;
                align-items: center;
                position: relative;
                white-space: nowrap;
                margin-top: var(--mtHeading);
                img {
                    width: 26px;
                    flex-shrink: 0;
                    margin-left: 12px;
                    margin-right: -38px;
                }
            }
            .des {
                max-width: 262px;
                font-size: var(--body16-fs);
                line-height: var(--body16-lh);
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
            }
            &:nth-child(even) {
                margin-top: 250px;
            }
        }
    }
    &__line {
        width: calc(100% - 100px);
        height: 500px;
        position: absolute;
        top: -60px;
        left: 50%;
        @include transform(translateX(-50%));
        z-index: -1;
        svg {
            @include size(100%);
        }
        .solidline {
            fill: none;
            stroke: #404041;
            stroke-miterlimit: 22.9256;
            will-change: transform;
        }
        .dashedline {
            fill: none;
            stroke: #ffffff;
            stroke-width: 1.5;
            stroke-miterlimit: 22.9256;
            stroke-dasharray: 2, 2;
        }
        @keyframes move {
            100% {
                stroke-dashoffset: 0;
            }
        }
    }
    &.animated {
        .services__line {
            .solidline {
                animation: move 1.8s 0.3s linear;
                animation-fill-mode: forwards;
            }
        }
    }
    @include maxW(2200px) {
        --gapItem: 70px;
    }
    @include maxW(1800px) {
        --gapItem: 0px;
        --wIcon: 160px;
        &__line {
            width: 110%;
        }
    }
    @include maxW(1330px) {
        --col: 6;
        --gapItem: 80px;
        &__list {
            &-item {
                &:nth-child(1) {
                    grid-column: 1/3;
                }
                &:nth-child(2) {
                    grid-area: 2/2/3/4;
                }
                &:nth-child(3) {
                    grid-column: 3/5;
                }
                &:nth-child(4) {
                    grid-area: 2/4/3/6;
                }
                &:nth-child(5) {
                    grid-column: 5/7;
                }
                &:nth-child(even) {
                    margin-top: 0;
                }
            }
        }
        &__line {
            display: none;
        }
    }
    @include md {
        --gapItem: 30px;
    }
    @include sm {
        --col: 1;
        &__list {
            max-width: 500px;
            margin: auto;
            row-gap: 50px;
            &-item {
                grid-column: initial !important;
                grid-area: initial !important;
            }
        }
    }
    @include xs {
        --wIcon: 140px;
        --mtHeading: 15px;
        &__list {
            row-gap: 45px;
        }
    }
}

.partners {
    &__line {
        width: 100%;
        margin-bottom: var(--pd-section);
        border-top: 1px solid $main-cl;
    }
    &__slider {
        position: relative;
        padding: 0 100px;
        &-list {
            &.owl-carousel {
                &.owl-loaded {
                    display: flex;
                }
            }
        }
        &-item {
            padding: 0 40px;
            img {
                max-width: 200px;
                height: 55px;
                object-fit: contain;
                filter: grayscale(1) brightness(1.25);
                -webkit-filter: grayscale(1) brightness(1.25);
                margin: 0 auto;
            }
        }
        &-controls {
            .button {
                @include size(43px);
                border-radius: 100%;
                background-color: #cfcfcf;
                cursor: pointer;
                top: 50%;
                @include transform(translateY(-50%));
                position: absolute;
                @include mid(true);
                @include transition($t);
                svg {
                    width: 8px;
                    @include mid;
                    polyline {
                        fill: none;
                        stroke: #fff;
                        stroke-width: 94.4899;
                    }
                }
                &.--prev {
                    left: 0px;
                }
                &.--next {
                    right: 0px;
                }
                &:hover {
                    background: $black20-cl;
                }
            }
        }
    }
    @include xs {
        &__slider {
            padding: 0 15px;
            &-item {
                width: 100%;
            }
            &-controls {
                .button {
                    @include size(30px);
                    background: none;
                    svg {
                        polyline {
                            stroke: $black30-cl;
                        }
                    }
                    &.--prev {
                        left: -10px;
                    }
                    &.--next {
                        right: -10px;
                    }
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
}

.testimonials {
    --sizeAvatar: 79px;
    --heightContent: 150px;
    --sizeQuote: 68px;
    --pdContent: 80px;
    --posSideCtr: 150px;
    --bottomCtr: 85px;
    --sizeCtr: 60px;
    background-repeat: repeat;
    background-position: center;
    background-color: $main-cl;
    &__wrap {
        max-width: 870px;
        margin: 0 auto 80px auto;
        position: relative;
    }
    .textbox {
        margin-bottom: 60px;
        .heading {
            position: relative;
            img {
                width: 140px;
                position: absolute;
                right: -155px;
            }
        }
    }
    &__slider {
        position: relative;
        z-index: 1;
        .slide {
            text-align: center;
            &__content {
                height: var(--heightContent);
                margin-bottom: 35px;
                position: relative;
                padding: 0 var(--pdContent);
                &:before,
                &:after {
                    content: "";
                    @include size(var(--sizeQuote));
                    position: absolute;
                    opacity: 0.2;
                }
                &:before {
                    background: url(../img/kabutes_up.svg) no-repeat center;
                    background-size: contain;
                    top: 0;
                    left: 0;
                }
                &:after {
                    background: url(../img/kabutes_down.svg) no-repeat center;
                    background-size: contain;
                    right: 0;
                    bottom: 0px;
                }
            }
            &__info {
                max-width: 400px;
                margin: auto;
                &-avatar {
                    @include size(var(--sizeAvatar));
                    border-radius: 100%;
                    border: 2px solid #3f3f3f;
                    margin: auto;
                    overflow: hidden;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @include mid;
                    }
                }
                &-name {
                    font-family: gb;
                    font-size: var(--h4-fs);
                    line-height: var(--h4-lh);
                    margin-top: 20px;
                }
                &-logo {
                    img {
                        max-width: 130px;
                        height: 55px;
                        object-fit: contain;
                        filter: grayscale(1) brightness(1.25);
                        -webkit-filter: grayscale(1) brightness(1.25);
                        margin: 0 auto;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    &__controls {
        position: relative;
        z-index: 10;
        .button {
            @include size(var(--sizeCtr));
            cursor: pointer;
            bottom: var(--bottomCtr);
            position: absolute;
            @include mid(true);
            @include transition($t);
            svg {
                width: 18px;
                @include mid;
                polyline {
                    fill: none;
                    stroke: $black30-cl;
                    stroke-width: 90;
                    @include transition($t);
                }
            }
            &.--prev {
                left: var(--posSideCtr);
            }
            &.--next {
                right: var(--posSideCtr);
            }
            &:hover {
                opacity: 0.4;
            }
        }
    }
    @include sm {
        --posSideCtr: 100px;
        --heightContent: 180px;
    }
    @include xs {
        --sizeQuote: 30px;
        --pdContent: 30px;
        --sizeAvatar: 68px;
        --heightContent: auto;
        --posSideCtr: 0px;
        --bottomCtr: 70px;
        --sizeCtr: 40px;
        .textbox {
            .heading {
                img {
                    width: 90px;
                    right: -60px;
                }
            }
        }
        &__wrap {
            margin: 0 auto 40px auto;
        }
        &__slider {
            .slide {
                &__info {
                    &-name {
                        margin-top: 10px;
                    }
                    &-logo {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.contact {
    --colModel: 450px;
    --gapCol: 120px;
    background-repeat: repeat;
    background-position: center;
    background-color: #f1f1f1;
    .container {
        display: grid;
        grid-template-columns: var(--colModel) 1fr;
        column-gap: var(--gapCol);
    }
    .textbox {
        margin-bottom: 60px;
    }
    &__model {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img,
        svg {
            margin-bottom: -10px;
        }
    }
    &__content {
        &-form {
            .formservices {
                &__more {
                    &-detail {
                        display: none;
                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @include lg {
        --colModel: 350px;
    }
    @include md {
        --gapCol: 20px;
    }
    @include sm {
        .container {
            grid-template-columns: 1fr;
        }
        .textbox {
            margin-bottom: 40px;
            &.--left {
                text-align: center;
            }
        }
        &__model {
            margin-bottom: 60px;
            padding: 0 80px;
            img,
            svg {
                width: 180px;
            }
        }
    }
}
