.test {
    .wrapText {
        background-color: #000;
        // width: 100vw;
        // margin-inline-start: 50%;
        // transform: translateX(-50%);
        // box-shadow: 0 0 0 100vmax #000;
        // clip-path: inset(0 -100vmax);
        font-size: 2rem;
        margin-block: 10rem;
    }
    .testBtn {
        background-color: $color-button-close-hover;
        padding: 0.5rem 1.5rem;
        border-radius: 100vmax;
        font-size: 10rem;
    }
}
